@use "@/styles/flex" as flex;

.Box {
    @include flex.flex();

    display: inline-flex;
    background-color: var(--ui-glass-80);
    border: 1px solid var(--ui-glass-50);
    padding: var(--ui-inset-md);
    border-radius: var(--ui-border-radius-lg);
    backdrop-filter: var(--ui-filter-blur-lg);

    @each $name, $value in flex.$flex-justify-props {
        &.--justify-#{$name} {
            justify-content: $value;
        }
    }

    @each $name, $value in flex.$flex-align-props {
        &.--align-#{$name} {
            align-items: $value;
        }
    }

    @each $name, $value in flex.$flex-direction-props {
        &.--direction-#{$name} {
            flex-direction: $value;
        }
    }

    @each $name, $value in flex.$flex-gaps {
        @if $name != 0 {
            &.--gap-#{$name} {
                gap: $value;
            }
        }
    }

    &.--wrap {
        flex-wrap: wrap;
    }

    &.--width-full {
        width: 100%;
    }

    &.--height-full {
        height: 100%;
    }

    &.--height-auto {
        height: auto;
    }

    // Padding
    &.--inset-xs {
        padding: var(--ui-inset-xs);
    }
    &.--inset-sm {
        padding: var(--ui-inset-sm);
    }
    &.--inset-md {
        padding: var(--ui-inset-md);
    }
    &.--inset-lg {
        padding: var(--ui-inset-lg);
    }
    &.--inset-xl {
        padding: var(--ui-inset-xl);
    }

    &.--squish {
        &.--inset-xs {
            padding: 4px var(--ui-inset-xs);
        }
        &.--inset-sm {
            padding: var(--ui-inset-xs) var(--ui-inset-sm);
        }
        &.--inset-md {
            padding: var(--ui-inset-sm) var(--ui-inset-md);
        }
        &.--inset-lg {
            padding: var(--ui-inset-md) var(--ui-inset-lg);
        }
        &.--inset-xl {
            padding: var(--ui-inset-lg) var(--ui-inset-xl);
        }
    }


    // Radius
    &.--radius-xs {
        border-radius: var(--ui-border-radius-xs);
    }
    &.--radius-sm {
        border-radius: var(--ui-border-radius-sm);
    }
    &.--radius-md {
        border-radius: var(--ui-border-radius-md);
    }
    &.--radius-lg {
        border-radius: var(--ui-border-radius-lg);
    }
    &.--radius-full {
        border-radius: var(--ui-border-radius-full);
    }


    // Variants
    &.--variant-secondary {
        background-color: var(--ui-color-neutral-100);
        border: 1px solid var(--ui-color-neutral-100);
    }
}
